* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	background-color: bisque;
}
.navbar-links {
	display: flex;
	gap: 1rem;
}
.home,
.users,
.about {
	text-align: center;
	font-size: large;
	margin: 1rem;
}
