* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.App {
	max-width: 500px;
	margin: auto;
}
.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	background-color: bisque;
}
.navbar-links {
	display: flex;
	gap: 1rem;
}
.home,
.users,
.about {
	text-align: center;
	font-size: large;
	margin: 1rem;
}

.alluser {
	margin: 1rem;
	border-bottom: 2px solid royalblue;
}
.alluser h2 {
	color: crimson;
	margin-bottom: 1rem;
}

.alluser h3 {
	color: blue;
	margin-bottom: 1rem;
}
